---
import "@styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="font-montserrat text-sm">
    <h1 class="font-fraunces text-5xl text-green-300">Astro</h1>
    <p>Consectetur aliqua sint enim ut sit fugiat irure et ut.</p>
  </body>
</html>
